In [2]:
%pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python310\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\python310\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

c:\Python310\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Python310\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\Python310\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-26 21:32:59--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230127T003303Z&X-Amz-Expires=300&X-Amz-Signature=2c29745a20dc899e9027a34b176af2bcd1b3c82522c63456b0d44db0e82e8efc&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-26 21:33:00--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230127T003303Z&X-Amz-Expires=300&X-Amz-Signature=2c29745a20dc899e9027a34b176af2bcd1b3c82522c63456b0d44db0e82e8efc&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 1,16M 9s
    50K .......... .......... .......... .......... ..........  0% 1,57M 8s
   100K .......... .......... .......... .......... ..........  1% 6,62M 6s
   150K .......... .......... .......... .......... ..........  1% 1,32M 6s
   200K .......... .......... .......... .......... ..........  2% 6,01M 5s
   250K .......... .......... .......... .......... ..........  2% 3,76M 5s
   300K .......... .......... .......... .......... ..........  3% 2,76M 5s
   350K .......... .......... .......... .......... ..........  3% 8,37M 4s
   400K .......... .......... .......... .......... ..........  4% 6,61M 4s
   450K .......... .......... .......... .......... ..........  4% 6,85M 4s
   500K .......... .......... .......... .......... ..........  5% 1,30M 4s
   550K .......... .......... .......... .......... ..........  5% 7,74M 4s
   600K .......... .......... .......... .......... ..........  5% 5,68M 4s
   650K .......... .......... .......... .......... ..........  6% 5,21M 3s
   700K .......... .......... .......... .......... ..........  6% 4,74M 3s
   750K .......... .......... .......... .......... ..........  7% 7,64M 3s
   800K .......... .......... .......... .......... ..........  7% 17,2M 3s
   850K .......... .......... .......... .......... ..........  8% 2,47M 3s
   900K .......... .......... .......... .......... ..........  8% 4,30M 3s
   950K .......... .......... .......... .......... ..........  9% 6,57M 3s
  1000K .......... .......... .......... .......... ..........  9% 8,26M 3s
  1050K .......... .......... .......... .......... .......... 10% 7,66M 3s
  1100K .......... .......... .......... .......... .......... 10% 8,05M 3s
  1150K .......... .......... .......... .......... .......... 11% 8,81M 3s
  1200K .......... .......... .......... .......... .......... 11% 6,20M 3s
  1250K .......... .......... .......... .......... .......... 11% 2,30M 3s
  1300K .......... .......... .......... .......... .......... 12% 6,46M 3s
  1350K .......... .......... .......... .......... .......... 12% 6,17M 2s
  1400K .......... .......... .......... .......... .......... 13% 8,75M 2s
  1450K .......... .......... .......... .......... .......... 13% 8,57M 2s
  1500K .......... .......... .......... .......... .......... 14% 6,27M 2s
  1550K .......... .......... .......... .......... .......... 14% 3,48M 2s
  1600K .......... .......... .......... .......... .......... 15% 2,48M 2s
  1650K .......... .......... .......... .......... .......... 15% 91,0M 2s
  1700K .......... .......... .......... .......... .......... 16% 28,5M 2s
  1750K .......... .......... .......... .......... .......... 16% 2,18M 2s
  1800K .......... .......... .......... .......... .......... 17% 3,57M 2s
  1850K .......... .......... .......... .......... .......... 17% 6,46M 2s
  1900K .......... .......... .......... .......... .......... 17% 8,73M 2s
  1950K .......... .......... .......... .......... .......... 18% 7,21M 2s
  2000K .......... .......... .......... .......... .......... 18% 6,78M 2s
  2050K .......... .......... .......... .......... .......... 19% 5,15M 2s
  2100K .......... .......... .......... .......... .......... 19% 8,93M 2s
  2150K .......... .......... .......... .......... .......... 20% 4,26M 2s
  2200K .......... .......... .......... .......... .......... 20% 8,79M 2s
  2250K .......... .......... .......... .......... .......... 21% 10,3M 2s
  2300K .......... .......... .......... .......... .......... 21% 5,26M 2s
  2350K .......... .......... .......... .......... .......... 22% 9,56M 2s
  2400K .......... .......... .......... .......... .......... 22% 6,98M 2s
  2450K .......... .......... .......... .......... .......... 23% 3,31M 2s
  2500K .......... .......... .......... .......... .......... 23% 12,6M 2s
  2550K .......... .......... .......... .......... .......... 23% 6,32M 2s
  2600K .......... .......... .......... .......... .......... 24% 6,53M 2s
  2650K .......... .......... .......... .......... .......... 24% 7,59M 2s
  2700K .......... .......... .......... .......... .......... 25% 3,74M 2s
  2750K .......... .......... .......... .......... .......... 25% 12,4M 2s
  2800K .......... .......... .......... .......... .......... 26% 11,8M 2s
  2850K .......... .......... .......... .......... .......... 26% 8,23M 2s
  2900K .......... .......... .......... .......... .......... 27% 3,37M 2s
  2950K .......... .......... .......... .......... .......... 27% 3,01M 2s
  3000K .......... .......... .......... .......... .......... 28% 6,22M 2s
  3050K .......... .......... .......... .......... .......... 28% 4,01M 2s
  3100K .......... .......... .......... .......... .......... 29% 1,99M 2s
  3150K .......... .......... .......... .......... .......... 29% 7,14M 2s
  3200K .......... .......... .......... .......... .......... 29% 4,27M 2s
  3250K .......... .......... .......... .......... .......... 30% 8,25M 2s
  3300K .......... .......... .......... .......... .......... 30% 4,69M 2s
  3350K .......... .......... .......... .......... .......... 31% 1,94M 2s
  3400K .......... .......... .......... .......... .......... 31% 2,77M 2s
  3450K .......... .......... .......... .......... .......... 32% 8,78M 2s
  3500K .......... .......... .......... .......... .......... 32% 4,84M 2s
  3550K .......... .......... .......... .......... .......... 33% 6,55M 2s
  3600K .......... .......... .......... .......... .......... 33% 6,66M 2s
  3650K .......... .......... .......... .......... .......... 34% 5,25M 2s
  3700K .......... .......... .......... .......... .......... 34% 6,43M 2s
  3750K .......... .......... .......... .......... .......... 35% 8,03M 2s
  3800K .......... .......... .......... .......... .......... 35% 9,65M 1s
  3850K .......... .......... .......... .......... .......... 35% 6,17M 1s
  3900K .......... .......... .......... .......... .......... 36% 7,29M 1s
  3950K .......... .......... .......... .......... .......... 36% 7,88M 1s
  4000K .......... .......... .......... .......... .......... 37% 8,72M 1s
  4050K .......... .......... .......... .......... .......... 37% 3,18M 1s
  4100K .......... .......... .......... .......... .......... 38% 4,32M 1s
  4150K .......... .......... .......... .......... .......... 38% 8,66M 1s
  4200K .......... .......... .......... .......... .......... 39% 8,54M 1s
  4250K .......... .......... .......... .......... .......... 39% 6,49M 1s
  4300K .......... .......... .......... .......... .......... 40% 7,52M 1s
  4350K .......... .......... .......... .......... .......... 40% 7,73M 1s
  4400K .......... .......... .......... .......... .......... 41% 3,42M 1s
  4450K .......... .......... .......... .......... .......... 41% 3,07M 1s
  4500K .......... .......... .......... .......... .......... 41% 7,99M 1s
  4550K .......... .......... .......... .......... .......... 42% 4,27M 1s
  4600K .......... .......... .......... .......... .......... 42% 5,42M 1s
  4650K .......... .......... .......... .......... .......... 43% 6,15M 1s
  4700K .......... .......... .......... .......... .......... 43% 13,6M 1s
  4750K .......... .......... .......... .......... .......... 44% 5,43M 1s
  4800K .......... .......... .......... .......... .......... 44% 8,52M 1s
  4850K .......... .......... .......... .......... .......... 45% 5,51M 1s
  4900K .......... .......... .......... .......... .......... 45% 8,82M 1s
  4950K .......... .......... .......... .......... .......... 46% 3,98M 1s
  5000K .......... .......... .......... .......... .......... 46% 4,88M 1s
  5050K .......... .......... .......... .......... .......... 47% 7,57M 1s
  5100K .......... .......... .......... .......... .......... 47% 4,89M 1s
  5150K .......... .......... .......... .......... .......... 47% 5,03M 1s
  5200K .......... .......... .......... .......... .......... 48% 2,56M 1s
  5250K .......... .......... .......... .......... .......... 48% 3,82M 1s
  5300K .......... .......... .......... .......... .......... 49% 16,0M 1s
  5350K .......... .......... .......... .......... .......... 49% 4,21M 1s
  5400K .......... .......... .......... .......... .......... 50% 8,87M 1s
  5450K .......... .......... .......... .......... .......... 50% 7,09M 1s
  5500K .......... .......... .......... .......... .......... 51% 5,90M 1s
  5550K .......... .......... .......... .......... .......... 51% 6,23M 1s
  5600K .......... .......... .......... .......... .......... 52% 6,84M 1s
  5650K .......... .......... .......... .......... .......... 52% 3,31M 1s
  5700K .......... .......... .......... .......... .......... 53% 2,15M 1s
  5750K .......... .......... .......... .......... .......... 53% 8,12M 1s
  5800K .......... .......... .......... .......... .......... 53% 8,04M 1s
  5850K .......... .......... .......... .......... .......... 54% 12,6M 1s
  5900K .......... .......... .......... .......... .......... 54% 2,92M 1s
  5950K .......... .......... .......... .......... .......... 55% 7,02M 1s
  6000K .......... .......... .......... .......... .......... 55% 7,34M 1s
  6050K .......... .......... .......... .......... .......... 56% 3,11M 1s
  6100K .......... .......... .......... .......... .......... 56% 8,77M 1s
  6150K .......... .......... .......... .......... .......... 57% 8,21M 1s
  6200K .......... .......... .......... .......... .......... 57% 1,55M 1s
  6250K .......... .......... .......... .......... .......... 58% 6,20M 1s
  6300K .......... .......... .......... .......... .......... 58% 11,6M 1s
  6350K .......... .......... .......... .......... .......... 59% 5,53M 1s
  6400K .......... .......... .......... .......... .......... 59% 6,87M 1s
  6450K .......... .......... .......... .......... .......... 59% 6,73M 1s
  6500K .......... .......... .......... .......... .......... 60% 8,94M 1s
  6550K .......... .......... .......... .......... .......... 60% 7,55M 1s
  6600K .......... .......... .......... .......... .......... 61% 8,36M 1s
  6650K .......... .......... .......... .......... .......... 61% 3,61M 1s
  6700K .......... .......... .......... .......... .......... 62% 7,41M 1s
  6750K .......... .......... .......... .......... .......... 62% 6,74M 1s
  6800K .......... .......... .......... .......... .......... 63% 2,54M 1s
  6850K .......... .......... .......... .......... .......... 63% 5,99M 1s
  6900K .......... .......... .......... .......... .......... 64% 7,25M 1s
  6950K .......... .......... .......... .......... .......... 64% 4,56M 1s
  7000K .......... .......... .......... .......... .......... 65% 7,88M 1s
  7050K .......... .......... .......... .......... .......... 65% 6,50M 1s
  7100K .......... .......... .......... .......... .......... 65% 10,5M 1s
  7150K .......... .......... .......... .......... .......... 66% 4,62M 1s
  7200K .......... .......... .......... .......... .......... 66% 4,37M 1s
  7250K .......... .......... .......... .......... .......... 67% 5,70M 1s
  7300K .......... .......... .......... .......... .......... 67% 8,30M 1s
  7350K .......... .......... .......... .......... .......... 68% 8,86M 1s
  7400K .......... .......... .......... .......... .......... 68% 5,03M 1s
  7450K .......... .......... .......... .......... .......... 69% 5,04M 1s
  7500K .......... .......... .......... .......... .......... 69% 11,9M 1s
  7550K .......... .......... .......... .......... .......... 70% 6,93M 1s
  7600K .......... .......... .......... .......... .......... 70% 8,46M 1s
  7650K .......... .......... .......... .......... .......... 71% 4,97M 1s
  7700K .......... .......... .......... .......... .......... 71% 8,34M 1s
  7750K .......... .......... .......... .......... .......... 71% 6,78M 1s
  7800K .......... .......... .......... .......... .......... 72% 7,37M 1s
  7850K .......... .......... .......... .......... .......... 72% 6,67M 1s
  7900K .......... .......... .......... .......... .......... 73% 4,90M 1s
  7950K .......... .......... .......... .......... .......... 73% 12,9M 1s
  8000K .......... .......... .......... .......... .......... 74% 8,44M 1s
  8050K .......... .......... .......... .......... .......... 74% 4,97M 1s
  8100K .......... .......... .......... .......... .......... 75% 4,07M 1s
  8150K .......... .......... .......... .......... .......... 75% 8,03M 1s
  8200K .......... .......... .......... .......... .......... 76% 6,86M 0s
  8250K .......... .......... .......... .......... .......... 76% 8,84M 0s
  8300K .......... .......... .......... .......... .......... 77% 8,02M 0s
  8350K .......... .......... .......... .......... .......... 77% 8,50M 0s
  8400K .......... .......... .......... .......... .......... 77% 8,56M 0s
  8450K .......... .......... .......... .......... .......... 78% 3,40M 0s
  8500K .......... .......... .......... .......... .......... 78% 30,8M 0s
  8550K .......... .......... .......... .......... .......... 79% 9,73M 0s
  8600K .......... .......... .......... .......... .......... 79% 3,68M 0s
  8650K .......... .......... .......... .......... .......... 80% 5,00M 0s
  8700K .......... .......... .......... .......... .......... 80% 8,62M 0s
  8750K .......... .......... .......... .......... .......... 81% 8,97M 0s
  8800K .......... .......... .......... .......... .......... 81% 5,73M 0s
  8850K .......... .......... .......... .......... .......... 82% 6,20M 0s
  8900K .......... .......... .......... .......... .......... 82% 10,2M 0s
  8950K .......... .......... .......... .......... .......... 83% 8,45M 0s
  9000K .......... .......... .......... .......... .......... 83% 5,82M 0s
  9050K .......... .......... .......... .......... .......... 83% 7,62M 0s
  9100K .......... .......... .......... .......... .......... 84% 6,66M 0s
  9150K .......... .......... .......... .......... .......... 84% 7,79M 0s
  9200K .......... .......... .......... .......... .......... 85% 6,75M 0s
  9250K .......... .......... .......... .......... .......... 85% 8,47M 0s
  9300K .......... .......... .......... .......... .......... 86% 5,38M 0s
  9350K .......... .......... .......... .......... .......... 86% 12,6M 0s
  9400K .......... .......... .......... .......... .......... 87% 5,10M 0s
  9450K .......... .......... .......... .......... .......... 87% 8,38M 0s
  9500K .......... .......... .......... .......... .......... 88% 8,17M 0s
  9550K .......... .......... .......... .......... .......... 88% 6,23M 0s
  9600K .......... .......... .......... .......... .......... 89% 8,70M 0s
  9650K .......... .......... .......... .......... .......... 89% 5,02M 0s
  9700K .......... .......... .......... .......... .......... 89% 8,76M 0s
  9750K .......... .......... .......... .......... .......... 90% 6,62M 0s
  9800K .......... .......... .......... .......... .......... 90% 7,60M 0s
  9850K .......... .......... .......... .......... .......... 91% 9,12M 0s
  9900K .......... .......... .......... .......... .......... 91% 8,18M 0s
  9950K .......... .......... .......... .......... .......... 92% 7,94M 0s
 10000K .......... .......... .......... .......... .......... 92% 9,22M 0s
 10050K .......... .......... .......... .......... .......... 93% 4,95M 0s
 10100K .......... .......... .......... .......... .......... 93% 6,83M 0s
 10150K .......... .......... .......... .......... .......... 94% 8,22M 0s
 10200K .......... .......... .......... .......... .......... 94% 7,75M 0s
 10250K .......... .......... .......... .......... .......... 95% 3,49M 0s
 10300K .......... .......... .......... .......... .......... 95% 4,19M 0s
 10350K .......... .......... .......... .......... .......... 95% 6,81M 0s
 10400K .......... .......... .......... .......... .......... 96% 8,79M 0s
 10450K .......... .......... .......... .......... .......... 96% 6,61M 0s
 10500K .......... .......... .......... .......... .......... 97% 3,60M 0s
 10550K .......... .......... .......... .......... .......... 97% 13,0M 0s
 10600K .......... .......... .......... .......... .......... 98% 6,37M 0s
 10650K .......... .......... .......... .......... .......... 98% 6,67M 0s
 10700K .......... .......... .......... .......... .......... 99% 8,22M 0s
 10750K .......... .......... .......... .......... .......... 99% 7,97M 0s
 10800K .......... .......... .......... .........            100% 8,66M=2,0s

2023-01-26 21:33:03 (5,41 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [5]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz', nrows=100)

In [6]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [7]:
df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [8]:
print(pd.io.sql.get_schema(df, name='green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='green_trip_data', con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

Cria o cabeÃ§alho da tabela

In [17]:
df.head(n=0).to_sql(name='green_trip_data', con=engine, if_exists='replace')

0

In [18]:
%time df.to_sql(name='green_trip_data', con=engine, if_exists='append')

CPU times: total: 8.59 s
Wall time: 17.5 s

1000

In [19]:
from time import time

In [20]:
while True:

    t_start = time()
    df = next(df_iter)
    
    df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_trip_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %3.f second' % (t_end - t_start))

inserted another chunk..., took  18 second
inserted another chunk..., took  18 second
inserted another chunk..., took  19 second
inserted another chunk..., took  18 second
inserted another chunk..., took  17 second
inserted another chunk..., took   6 second

StopIteration:

In [21]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()
print(pd.io.sql.get_schema(df_zones, name='df_zones'))
df_zones.to_sql(name='zones_homework', con=engine, if_exists='replace')

CREATE TABLE "df_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

--2023-01-26 21:38:50--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.152.206, 52.216.107.214, 54.231.136.48, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.152.206|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  351K=0,03s

2023-01-26 21:38:51 (351 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

265